<!-- <h1>{{ titulo }}</h1> -->

<!-- <button (click)=" sumar() "> + 1</button>

<span>{{ numero }}</span>

<button (click)=" restar() "> - 1</button> -->




<!-- <button (click)=" acumular(2) "> + 1</button>

<span>{{ numero }}</span>

<button (click)=" acumular(-1) "> - 1</button> -->

<!-- <h3>La base es: <strong> {{ base }} </strong></h3>

<button (click)=" acumular( base ) "> + {{ base }} </button>

<span>{{ numero }}</span>

<button (click)=" acumular( -base ) "> - {{ base }} </button> -->
<!-- <app-listado></app-listado> -->









<app-contador></app-contador>

<!-- <app-contador></app-contador> -->